.header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(122,202,229);
  }
  
  li {
    float: right;
  }

  .logout-btn{
      float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .logout-button{
      float:right;
  }
  .searchplan-button{
      float:left;
  }
  .addplan-button{
      float:left;
  }
  .users-button{
    float:left;
  }