body{
    margin:0px;
    background-image: url("./images/foxtrot.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:right;
    background-size:cover;
    background-color: aquamarine;
}.anchor-index{
    text-decoration: none;
    text-align: center;
}